legacy-peer-deps=true
audit-level=moderate
fund=false
save-exact=true
progress=false
loglevel=warn
maxsockets=5
max-old-space-size=4096
registry=https://registry.npmjs.org/
timeout=120000
prefer-offline=true